* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/****************************************************/
/* Default Color Scheme */
/****************************************************/

:root {
  --primary-color: #000;
  --secondary-color: #fff;
}

/**********************************************/
/* Color scheme when <html> has a light class */
/**********************************************/

:root.light {
  --primary-color: #002147;
  --secondary-color: #fff;
  --accent-color: #000;
}

:root.light nav {
  background-color: rgba(255, 255, 255, 0.91);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
}

:root.light nav a {
  color: var(--primary-color);
}

:root.light .theme-nav-btn {
  color: var(--primary-color);
}

:root.light .theme-nav-btn:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

:root.light .theme-modal {
  background-color: var(--secondary-color);
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

:root.light .theme-option {
  color: var(--accent-color);
}

:root.light .theme-modal .active-theme {
  border: 1px solid rgba(0, 0, 0, 0.3);
}

:root.light .card-container {
  background-color: var(--secondary-color);
  color: var(--accent-color);
}

:root.light .card-container a {
  color: var(--accent-color);
}

:root.light .card-container .proj-img-container {
  border-left: 1px solid var(--primary-color);
}

:root.light .guest-post-card {
  border: 1px solid var(--primary-color);
}

:root.light .guest-post-img-container {
  border-bottom: 1px solid var(--primary-color);
}

:root.light .published-date {
  border-top: 1px solid var(--primary-color);
}

/**********************************************/
/* Color scheme when <html> has a dark class */
/**********************************************/

:root.dark {
  --primary-color: #000;
  --secondary-color: #fff;
}

:root.dark nav {
  background-color: rgba(17, 17, 17, 0.91);
  box-shadow: 0 1px 2px 0 rgba(255, 255, 255, 0.14);
}

:root.dark nav a {
  color: var(--secondary-color);
}

:root.dark .theme-nav-btn {
  color: var(--secondary-color);
}

:root.dark .theme-nav-btn:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

:root.dark .theme-modal {
  background-color: var(--primary-color);
  box-shadow: rgba(241, 225, 218, 0.12) 0px 2px 4px 0px,
    rgba(241, 225, 218, 0.32) 0px 2px 16px 0px;
}

:root.dark .theme-option {
  color: var(--secondary-color);
}

:root.dark .theme-modal .active-theme {
  border: 1px solid rgba(255, 255, 255, 0.3);
}

:root.dark .card-container {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

:root.dark .card-container a {
  color: var(--secondary-color);
}

:root.dark .card-container .proj-img-container {
  border-left: 1px solid var(--secondary-color);
}

:root.dark .guest-post-card {
  border: 1px solid var(--secondary-color);
}

:root.dark .published-date {
  border-top: 1px solid var(--secondary-color);
}

:root.dark .milestone-card {
  border-top: 1px solid var(--secondary-color);
}

/**************************************************/
/* Color scheme when device's theme is light mode */
/**************************************************/

@media (prefers-color-scheme: light) {
  :root {
    --primary-color: #002147;
    --secondary-color: #fff;
    --accent-color: #000;
  }

  .theme-modal .active-theme {
    border: 1px solid rgba(0, 0, 0, 0.3);
  }
}

/**************************************************/
/* Color scheme when device's theme is dark mode */
/**************************************************/

@media (prefers-color-scheme: dark) {
  .theme-modal .active-theme {
    border: 1px solid rgba(255, 255, 255, 0.3);
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  height: 100%;
}

body {
  background-color: var(--primary-color);
}

.hideThemeModal {
  display: none;
}

h1 {
  margin: 20px 5rem;
  font-size: 3.3rem;
  color: var(--secondary-color);
}
