* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --primary-blue: #002147;
  --secondary-blue: #e0ffff;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  height: 100%;
}

.hideThemeModal {
  visibility: hidden;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */

@media (prefers-color-scheme: light) {
  body {
    background-color: var(--primary-blue);
  }

  h1 {
    color: #fff;
  }
}
