.featuredSection {
  background-image: url(../../public/home-featured-image.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  /* background-color: blue; */
  width: 100vw;
  height: 100vh;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
}

/* Remove motion for users who request reduced motion effects */
@media (prefers-reduced-motion) {
  .element-with-animation {
    animation: none;
  }

  .element-with-transform {
    transform: none;
  }
}

/* Mobile */
@media (max-width: 700px) {
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
}
