/**************************************************/
/* Color scheme when device's theme is light mode */
/**************************************************/

@media (prefers-color-scheme: light) {
  .projectSection div {
    background-color: var(--secondary-color);
  }

  .imageContainer {
    border-left: 1px solid var(--primary-color);
  }
}

/*************************************************/
/* Color scheme when device's theme is dark mode */
/*************************************************/

@media (prefers-color-scheme: dark) {
  .imageContainer {
    border-left: 1px solid var(--secondary-color);
  }
}

/*****************/
/* Intro section */
/*****************/

.introSection {
  background-image: url(../../public/home-intro-image.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right center;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  color: var(--secondary-color);
}

.nameAndBioContainer {
  padding-left: 4rem;
}

.nameAndBioContainer h1 {
  padding: 0;
}

.nonAnimatedBio {
  display: none;
}

/*********************/
/* Non-intro section */
/*********************/

.nonIntroSection {
  padding: 3rem 5rem;
}

.nonIntroSection h2 {
  margin-bottom: 20px;
  color: var(--secondary-color);
}

/*******************/
/* Project section */
/*******************/

.projectSection div {
  display: grid;
  grid-template-columns: 65% 1fr;
  border: 1px solid var(--secondary-color);
  border-radius: 25px;
  margin-bottom: 20px;
}

.projectSection a {
  text-decoration: none;
  color: inherit;
}

.infoSpan {
  padding: 2.5rem;
}

.infoSpan p {
  margin-top: 15px;
}

.techStack {
  font-size: var(--small-text);
  display: inline-block;
  margin-top: 10px;
}

.imageContainer {
  border-radius: 0 25px 25px 0;
  overflow: hidden;
}

.imageContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s linear;
}

/***********************/
/* Publication section */
/***********************/

.publicationSection div {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  grid-gap: 20px;
}

.publicationSection a {
  text-decoration: none;
  color: var(--secondary-color);
  border-radius: 10px;
}

.publicationSection span {
  display: inline-block;
  width: 100%;
  text-align: center;
  border: 1px solid var(--secondary-color);
  border-radius: 10px;
  padding: 70px;
}

.publicationSection svg {
  width: 100px;
  height: auto;
}

/*******************/
/* Contact section */
/*******************/

.contactSection div {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  color: var(--secondary-color);
}

.contactSection a {
  padding: 70px;
  text-align: center;
  text-decoration: none;
  color: inherit;
}

.contactSection svg {
  width: 100px;
  height: auto;
}

/**********/
/* Mobile */
/**********/

@media (max-width: 700px) {
  .nameAndBioContainer {
    padding-left: 1.4rem;
  }

  .nonIntroSection {
    padding-inline: 2rem;
  }

  .infoSpan {
    padding: 27px 22px 15px;
    line-height: var(--line-height);
  }
}

/***************************************/
/* Mobile, Tablet, and Smaller Desktop */
/***************************************/

@media (max-width: 1120px) {
  @media (prefers-color-scheme: light) {
    .imageContainer {
      border-top: 1px solid var(--primary-color);
    }
  }

  @media (prefers-color-scheme: dark) {
    .imageContainer {
      border-top: 1px solid var(--secondary-color);
    }
  }

  .introSection {
    background-size: cover;
    background-position: center;
    height: 83vh;
  }

  .nameAndBioContainer {
    margin-left: 0;
    background-color: rgba(0, 0, 0, 0.63);
    width: inherit;
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .bio {
    margin-top: 7px;
    font-size: var(--large-text);
  }

  .projectSection div {
    display: block;
    border-radius: 10px;
  }

  .infoSpan {
    display: inline-block;
  }

  .imageContainer {
    display: flex;
    border-left: none;
    border-radius: 0 0 10px 10px;
  }
}

/******************************/
/* Tablet and Smaller Desktop */
/******************************/

@media (min-width: 701px) and (max-width: 1120px) {
  .nameAndBioContainer {
    padding-left: 3.5rem;
  }

  .nonIntroSection h2 {
    padding-bottom: 17px;
  }

  .projectSection div {
    margin-bottom: 43px;
  }

  .infoSpan {
    padding: 47px 43px 30px;
  }

  .infoSpan p {
    line-height: var(--line-height);
  }

  .techStack {
    line-height: var(--line-height);
  }

  .publicationSection div {
    grid-gap: 30px;
  }

  .publicationSection h3 {
    padding-top: 15px;
  }

  .contactSection h3 {
    padding-top: 15px;
  }
}

/******************************************/
/* Enable hover only on non-touch devices */
/******************************************/

@media (hover: hover) and (pointer: fine) {
  .imageContainer img:hover {
    transform: scale(1.03);
  }

  .publicationSection a:hover {
    background-color: rgba(255, 255, 255, 0.07);
  }

  .EmailIcon:hover {
    color: #ff7f50;
  }

  .LinkedInIcon:hover {
    color: #0a66c2;
  }

  .TwitterIcon:hover {
    color: #1a8cd8;
  }

  .InstagramIcon svg:hover {
    fill: #d6249f;
    fill: url("#instagram-icon-gradient");
  }
}

/**************************************************************/
/* Remove motion for users who request reduced motion effects */
/**************************************************************/

@media (prefers-reduced-motion) {
  .nonAnimatedBio {
    display: inline-block;
  }

  .animatedBio {
    display: none;
  }

  .imageContainer img:hover {
    transform: none;
  }
}
