.nav {
  position: sticky;
  top: 0;
  display: grid;
  grid-template-columns: 15% 1fr 10%;
  width: 100vw;
  padding: 0.7rem 1.07rem;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  background-color: rgba(0, 0, 255, 0.5);
  backdrop-filter: blur(7px);
  z-index: 50;
}

.nav a {
  text-decoration: none;
}

.navLogo {
  font-size: 1.4rem;
  font-weight: 700;
}

.navRoutes,
.navTheme {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.navRoutes a {
  margin-left: 1.5rem;
  font-weight: 700;
}

.navRoutes a:hover {
  color: #e53a35;
}

.footer {
  border-top: 1px solid white;
  padding: 25px;
  text-align: center;
  font-size: 0.8em;
}

@media (prefers-color-scheme: light) {
  .nav {
    background-color: rgba(255, 255, 255, 0.93);
  }

  .nav a {
    color: var(--primary-blue);
  }

  .footer {
    border-top: 1px solid #fff;
    color: #fff;
  }
}
