/**************************************************/
/* Color scheme when device's theme is light mode */
/**************************************************/

@media (prefers-color-scheme: light) {
  .milestoneCard {
    border-top: 1px solid var(--primary-color);
    background-color: var(--secondary-color);
  }
}

/**************************************************/
/* Color scheme when device's theme is dark mode */
/**************************************************/

@media (prefers-color-scheme: dark) {
  .milestoneCard {
    border-top: 1px solid var(--secondary-color);
    background-color: var(--primary-color);
  }
}

.milestonesContainer {
  padding: 0 5rem 3rem;
}

.milestoneCard {
  padding-block: 30px;
  display: grid;
  grid-template-columns: 10% 90%;
  min-height: 70px;
}

.milestoneIcon {
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.milestoneInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.milestoneInfo span {
  font-size: var(--small-text);
}

.milestoneInfo a {
  text-decoration: none;
  font-size: var(--large-text);
  font-weight: 500;
  color: inherit;
  margin-top: 5px;
}

.externalLink {
  visibility: hidden;
}

/* Mobile */
@media (max-width: 700px) {
  .milestonesContainer {
    padding: 1rem 30px 2.5rem;
  }

  .milestoneCard {
    display: block;
    padding: 20px 15px;
  }

  .milestoneIcon {
    justify-content: flex-start;
    padding-bottom: 13px;
  }

  .milestoneInfo a {
    line-height: var(--line-height);
  }
}

/* Mobile, Tablet, and Smaller Desktop */
@media (max-width: 1120px) {
  .externalLink {
    visibility: visible;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .milestoneCard {
    grid-template-columns: 15% 85%;
  }
}

/******************************************/
/* Enable hover only on non-touch devices */
/******************************************/

@media (hover: hover) and (pointer: fine) {
  .milestoneInfo a:hover {
    color: var(--accent-color);
  }
}
