/**************************************************/
/* Color scheme when device's theme is light mode */
/**************************************************/

@media (prefers-color-scheme: light) {
  .mobileNavTopbar {
    background-color: rgba(255, 255, 255, 0.91);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  }

  .navLogo {
    color: var(--primary-color);
  }

  .menuIcon {
    color: var(--primary-color);
  }
}

/**************************************************/
/* Color scheme when device's theme is dark mode */
/**************************************************/

@media (prefers-color-scheme: dark) {
  .mobileNavTopbar {
    background-color: rgba(17, 17, 17, 0.91);
    box-shadow: 0 1px 2px 0 rgba(255, 255, 255, 0.37);
  }

  .navLogo {
    color: var(--secondary-color);
  }

  .menuIcon {
    color: var(--secondary-color);
  }
}

.mobileNavTopbar {
  padding: 0.7rem 1.5rem;
  width: 100vw;
  height: 11vh; /* 100vh - aside's height */
  display: flex;
  justify-content: space-between;
  backdrop-filter: blur(7px);
}

.navLogo {
  text-decoration: none;
  font-size: 1.62rem;
  font-weight: 700;
  display: flex;
  align-items: center;
}

.menuIcon {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .mobileNavTopbar {
    padding-inline: 3.3rem;
  }

  .navLogo {
    font-size: 2.9rem;
  }

  .menuIcon {
    font-size: 3.6rem;
  }
}
