.nav {
  position: sticky;
  top: 0;
}

.topNSidebarContainer {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: rgba(17, 17, 17, 0.91);
  backdrop-filter: blur(7px);
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) {
  .nav {
    display: none;
  }
}
