/*****************/
/* Default rules */
/*****************/

.timeline {
  padding: 3rem 7vw;
  position: relative;
  width: 100vw;
  animation: moveTimelineDown 1s linear forwards;
}

@keyframes moveTimelineDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.timeline::after {
  content: "";
  position: absolute;
  width: 6px;
  height: 100%;
  background-color: var(--secondary-color);
  top: 0;
  left: calc(
    (22vw / 2) + 7vw - 3px
  ); /* (.projectInfo's left / 2) + .timeline padding-right - ½ width */
  z-index: -1;
}

.projectCard {
  position: relative;
  width: 100vw; /* Use same as .timeline to get right positioning for the vertical line and project icons */
  margin-bottom: 57px;
}

.projectIcon {
  position: absolute;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  font-size: 2.3rem;
  border-radius: 50%;
  width: 54px;
  height: 54px;
  display: flex;
  justify-content: center;
  align-items: center;
  left: calc(
    (22vw / 2) - (54px / 2)
  ); /* (.projectInfo's left / 2) - (width / 2) */
  box-shadow: 0 0 0.5em var(--secondary-color);
}

.projectCategory {
  display: inline-block;
  color: var(--primary-color);
  border: 1px solid var(--secondary-color);
  border-bottom: none;
  border-radius: 5px 5px 0 0;
  padding: 0 0.9rem;
  height: calc(
    (54px / 2) + (3px / 2)
  ); /* ½ projectIcon's height + ½ projectInfo::before's height */
  line-height: calc((54px / 2) + (3px / 2)); /* Same as height */
  position: relative;
  left: calc(27vw - 5vw); /* Same as .projectInfo left */
  font-size: var(--small-text);
}

.EducationProjectCategory {
  background-color: rgb(173, 216, 230);
}

.WorkProjectCategory {
  background-color: rgb(255, 165, 0);
}

.projectDate {
  width: 100px;
  position: absolute;
  top: 0;
  left: 0;
  height: 54px; /* Use same as .projectIcon to center align appropriately */
  line-height: 54px;
  text-align: right;
}

.projectInfo {
  display: grid;
  grid-template-columns: 65% 1fr;
  border: 1px solid var(--secondary-color);
  border-radius: 0 25px 25px;
  margin-bottom: 20px;
  position: relative;
  width: calc(73vw - 7vw); /* 73% of vw - .timeline's padding width */
  left: calc(27vw - 5vw); /* 27% of vw - preferred right space's width */
}

.projectInfo::before {
  content: "";
  position: absolute;
  height: 3px;
  width: calc((27vw - 5vw) / 2); /* .projectInfo left / 2 */
  transform: translateX(-100%);
  background-color: var(--secondary-color);
  top: calc(
    (54px / 2) - 30px
  ); /* (.projectIcon height / 2) - .projectCategory height */
  z-index: -1;
}

.projectInfo a {
  text-decoration: none;
  color: inherit;
}

.infoSpan {
  padding: 2.5rem;
}

.infoSpan p {
  margin-top: 15px;
}

.techStack {
  font-size: var(--small-text);
  display: inline-block;
  margin-top: 10px;
}

.imageContainer {
  border-left: 1px solid var(--secondary-color);
  border-radius: 0 25px 25px 0;
  overflow: hidden;
}

.imageContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s linear;
}

/**************************************************/
/* Color scheme when device's theme is light mode */
/**************************************************/

@media (prefers-color-scheme: light) {
  .pageHeading,
  .projectDate {
    color: var(--secondary-color);
  }

  .projectIcon {
    color: var(--primary-color);
    box-shadow: 0 0 0.5em var(--secondary-color) fff87;
  }

  .projectInfo {
    border: 1px solid var(--secondary-color);
    background-color: var(--secondary-color);
  }

  .projectInfo::before {
    background-color: var(--secondary-color);
  }

  .imageContainer {
    border-left: 1px solid var(--primary-color);
  }
}

/**********/
/* Mobile */
/**********/

@media (max-width: 700px) {
  .projectIcon {
    font-size: 2rem;
    width: 49px;
    height: 49px;
    left: calc(
      (22vw / 2) - (49px / 2)
    ); /* (.projectInfo's left / 2) - (width / 2) */
  }

  .projectCategory {
    height: calc(
      (49px / 2) + (3px / 2)
    ); /* ½ projectIcon's height + ½ projectInfo::before's height */
    line-height: calc((49px / 2) + (3px / 2)); /* Same as height */
  }

  .projectDate {
    padding-left: 1.65rem;
  }

  .infoSpan {
    padding: 0 1.65rem 1.45rem;
  }
}

/***************************************/
/* Mobile, Tablet, and Smaller Desktop */
/***************************************/

@media (max-width: 1120px) {
  @media (prefers-color-scheme: light) {
    .projectDate {
      background-color: var(--secondary-color);
      color: var(--text-color);
    }

    .imageContainer {
      border-left: none;
      border-top: 1px solid var(--primary-color);
    }
  }

  @media (prefers-color-scheme: dark) {
    .projectDate {
      background-color: var(--primary-color);
      color: var(--secondary-color);
    }

    .imageContainer {
      border-left: none;
      border-top: 1px solid var(--secondary-color);
    }
  }

  .timeline {
    padding-inline: 2vw;
  }

  .timeline::after {
    left: calc(
      (22vw / 2) + 2vw - 3px
    ); /* (.projectInfo's left / 2) + .timeline padding-right - ½ width */
  }

  .projectDate {
    height: fit-content;
    line-height: normal;
    position: relative;
    left: calc(27vw - 5vw); /* 27% of vw - preferred right space's width */
    width: calc(73vw - 2vw); /* 73% of vw - .timeline's padding width */
    text-align: left;
    padding-block: 1.5rem 1rem;
    border-top-right-radius: 10px;
    border-inline: 1px solid var(--secondary-color);
    border-top: 1px solid var(--secondary-color);
  }

  .projectDate::before {
    content: "";
    position: absolute;
    height: 3px;
    width: calc((27vw - 5vw) / 2); /* .projectInfo left / 2 */
    transform: translateX(-100%);
    margin-left: -22px; /* Remove projectDate's padding-left length */
    background-color: var(--secondary-color);
    top: calc(
      (54px / 2) - 30px
    ); /* (.projectIcon height / 2) - .projectCategory height */
    z-index: -1;
  }

  .projectInfo::before {
    content: none;
  }

  .projectInfo {
    display: block;
    border-top: none;
    border-radius: 0 0 10px 10px;
    width: calc(73vw - 2vw); /* 73% of vw - .timeline's padding width */
    margin-top: -0.7px;
  }

  .infoSpan {
    display: inline-block;
  }

  .infoSpan p,
  .techStack {
    line-height: var(--line-height);
  }

  .imageContainer {
    display: flex;
    border-left: none;
    border-radius: 0 0 10px 10px;
  }
}

/******************************/
/* Tablet and Smaller Desktop */
/******************************/

@media (min-width: 701px) and (max-width: 1120px) {
  .projectDate {
    padding-left: 2.5rem;
  }

  .infoSpan {
    padding-block: 0 1.2rem;
  }
}

/******************************************/
/* Enable hover only on non-touch devices */
/******************************************/

@media (hover: hover) and (pointer: fine) {
  .imageContainer img:hover {
    transform: scale(1.07);
  }
}

/**************************************************************/
/* Remove motion for users who request reduced motion effects */
/**************************************************************/

@media (prefers-reduced-motion) {
  .timeline {
    animation: none;
  }

  .imageContainer img:hover {
    transform: none;
  }
}
